---
layout: default
---
<div id="main">

  <section>
      <header class="major">
          <h2>Games</h2>
      </header>

      {% for month in site.data.games limit:2 %}
      <article class="12u 12u(small)">

        <h4 class="date">{{ month.date | date: "%b, %Y" }}</h4>

        <ul>
        {% for game in month.games %}
          <li><strong>{{ game.name }}</strong></li>
        {% endfor %}
        </ul>

      </article>
      {% endfor %}

  </section>

</div>
