---
layout: default
---
<div id="main">

  <section>
          <header class="major">
              <h2><a href="/writings">Writings</a></h2>
          </header>
  </section>

  <section>
      {% for post in site.posts limit:1 %}
          <header>
              <h2>{{ post.title }}</h2>
              <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </header>

          <section>
              {{ post.content }}
          </section>
      {% endfor %}
  </section>
  <section>
      <div class="row">
          {% for post in site.posts offset:1 limit:3 %}

              <article class="12u 12u(small)">
                  <header>
                      <h4>
                        <div class="date">{{ post.date | date: "%b %-d, %Y" }} </div>
                        <a href="{{ post.url }}"> {{ post.title }}</a>
                      </h4>
                  </header>
              </article>

          {% endfor %}
      </div>
  </section>

  <section>
          <header class="major">
              <h2>Learnings</h2>
          </header>
  </section>

  <section>
      <div class="row">
          <article class="12u 12u(small)">
              <h2 class="major">Software Product Management Specialization, University of Alberta</h2>
              <ul>
                  <li>
                    <a href="https://coursera.org/verify/RJMWMM6PJB7E">Introduction to Software Product Management</a>
                  </li>
                  <li>
                    <a href="https://coursera.org/verify/BQ8EAAYEE2JW">Software Processes and Agile Practices</a>
                  </li>
                  <li>Client Needs and Software Requirements</li>
                  <li>Agile Planning for Software Products</li>
                  <li>Reviews &amp; Metrics for Software Improvements</li>
                  <li>Software Product Management Capstone</li>
              </ul>
          </article>
      </div>
  </section>

  <section>
          <header class="major">
              <h2>Coding</h2>
          </header>
  </section>

  <section>
      <div class="row">
          <article class="12u 12u(small)">
              <h2 class="major">Software Product Management Specialization, University of Alberta</h2>
              <ul>
                  <li>
                    <a href="https://github.com/tamtamchik/simple-flash">Simple Flash</a>
                    - Easy, framework agnostic flash notifications for PHP.
                  </li>
                  <li>
                    <a href="https://github.com/tamtamchik/namecase">NameCase</a>
                    - This package allows you to convert names into the correct case where possible.
                  </li>
                  <li>
                    <a href="https://github.com/tamtamchik/composer-transfer">NameCase</a>
                    - <a href="https://transfer.sh">https://transfer.sh</a> brought to Composer community.
                  </li>
              </ul>
          </article>
      </div>
  </section>

</div>
