---
layout: default
---
<div id="main">

  <section>
      <header class="major">
          <h2><a href="/writings">Blog</a></h2>
      </header>

      {% for post in site.posts limit:1 %}
          <header>
              <h2><a href="{{ post.url }}"> {{ post.title }}</a></h2>
              <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </header>

          <section>
              {{ post.excerpt }}
              <a href="{{ post.url }}">Read more...</a>
          </section>
      {% endfor %}
  </section>

  <section>
      <div class="row">

          {% for post in site.posts offset:1 limit:3 %}

              <article class="12u 12u(small)">
                  <header>
                      <h4>
                        <div class="date">{{ post.date | date: "%b %-d, %Y" }} </div>
                        <a href="{{ post.url }}"> {{ post.title }}</a>
                      </h4>
                  </header>
              </article>

          {% endfor %}
      </div>
  </section>

  <section>
      <header class="major">
          <h2>Education</h2>
      </header>

      <div class="row">
          <article class="12u 12u(small)">
              <h2 class="major">
                <a href="https://coursera.org/verify/specialization/UX3E8P6UXYBH">Software Product Management Specialization, University of Alberta</a>
              </h2>
              <ul>
                  <li>
                    <a href="https://coursera.org/verify/RJMWMM6PJB7E">Introduction to Software Product Management</a>
                  </li>
                  <li>
                    <a href="https://coursera.org/verify/BQ8EAAYEE2JW">Software Processes and Agile Practices</a>
                  </li>
                  <li>
                    <a href="https://coursera.org/verify/CBC5QLHUCBY5">Client Needs and Software Requirements</a>
                  </li>
                  <li>
                    <a href="https://coursera.org/verify/H33XQEYH6RPP">Agile Planning for Software Products</a>
                  </li>
                  <li>
                    <a href="https://coursera.org/verify/C7Y9NSC2A7HR">Reviews &amp; Metrics for Software Improvements</a>
                  </li>
                  <li>
                    <a href="https://coursera.org/verify/TTCM5EZR8H3S">Software Product Management Capstone</a>
                  </li>
              </ul>
          </article>
      </div>
  </section>

  <section>
      <header class="major">
          <h2>Projects</h2>
      </header>

      <div class="row">
          <article class="12u 12u(small)">
              <ul>
                  <li>
                    <div class="git-star"><a class="github-button" href="https://github.com/tamtamchik/simple-flash" data-icon="octicon-star" data-count-href="/tamtamchik/simple-flash/stargazers" data-count-api="/repos/tamtamchik/simple-flash#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star tamtamchik/simple-flash on GitHub">Star</a></div>
                    <a href="https://github.com/tamtamchik/simple-flash">Simple Flash</a>
                    - Easy, framework agnostic flash notifications for PHP.
                  </li>
                  <li>
                    <div class="git-star"><a class="github-button" href="https://github.com/tamtamchik/namecase" data-icon="octicon-star" data-count-href="/tamtamchik/namecase/stargazers" data-count-api="/repos/tamtamchik/namecase#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star tamtamchik/namecase on GitHub">Star</a></div>
                    <a href="https://github.com/tamtamchik/namecase">NameCase</a>
                    - This package allows you to convert names into the correct case where possible.
                  </li>
                  <li>
                    <div class="git-star"><a class="github-button" href="https://github.com/tamtamchik/composer-transfer" data-icon="octicon-star" data-count-href="/tamtamchik/composer-transfer/stargazers" data-count-api="/repos/tamtamchik/composer-transfer#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star tamtamchik/composer-transfer on GitHub">Star</a></div>
                    <a href="https://github.com/tamtamchik/composer-transfer">Composer Transfer</a>
                    - <a href="https://transfer.sh">https://transfer.sh</a> brought to Composer community.
                  </li>
              </ul>
          </article>
      </div>
  </section>

  <section>
      <header class="major">
          <h2>Books</h2>
      </header>

      <div class="row">

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2017-02-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>The Black Obelisk</strong> - Erich Maria Remarque [rus]</li>
            </ul>

          </article>

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2017-01-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>Going Pro</strong> - Cal Evans [eng]</li>
              <li><strong>The History of a Town</strong> - Mikhail Saltykov-Shchedrin [rus]</li>
            </ul>

          </article>

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2016-12-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>To Kill a Mockingbird</strong> - Harper Lee [rus]</li>
              <li><strong>Jonathan Livingston Seagull</strong> - Richard Bach [rus]</li>
              <li><strong>Hollywood</strong> - Charles Bukowski [rus]</li>
            </ul>

          </article>
      </div>
  </section>

  <section>
      <header class="major">
          <h2>Games</h2>
      </header>

      <div class="row">

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2017-02-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>Star Wars: The Force Unleashed</strong></li>
            </ul>

          </article>

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2017-01-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>Tomb Rider</strong></li>
            </ul>

          </article>

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2016-12-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>Mass Effect</strong></li>
              <li><strong>Mass Effect 2</strong></li>
              <li><strong>Mass Effect 3</strong></li>
            </ul>

          </article>

          <article class="12u 12u(small)">

            <h4 class="date">{{ '2016-11-01' | date: "%b, %Y" }}</h4>

            <ul>
              <li><strong>Brothers</strong></li>
            </ul>

          </article>

      </div>
  </section>

</div>
